.post-navigation {
  margin: 2em 0;
  padding: 1em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.post-navigation .nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}

.post-navigation .nav-links button {
  flex: 1;
  max-width: 25%;
  padding: 0;
  border: none;
  background: none;
}

.post-navigation .nav-links button.disabled {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.post-navigation .button {
  display: block;
  width: 100%;
  padding: 0.8em 1.5em;
  text-align: center;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}

.post-navigation .button:hover {
  background-color: #0056b3;
}

/* Accordion styles */
.accordion-container {
  width: 100%;
}
.accordion {
  width: 100%;
  cursor: pointer;
  padding: 0.5em 1em;
  text-align: left;
  border: none;
  background-color: #eee;
  transition: background-color 0.3s;
  position: relative;
  font-size: 1em;
}
.accordion.active {
  background-color: #ccc;
}
.icon {
  position: absolute;
  right: 1em;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

.panel {
  display: none;
  overflow: hidden;
  padding: 0 1em;
}
